.banner {
  text-align: center;
  text-transform: uppercase;
}

.site-title {
  font-family: $font-secondary;
  text-align: center;
  letter-spacing: .03em;
  font-size: 4rem;

  @media $small {
    font-size: 7rem;
  }
}

.countdown {
  margin: $spacing-default auto;
  width: 80%;
}

.countdown-title {
  margin: 0 0 .5rem 0;
  text-align: center;
  font-size: 2.6rem;
}

.countdown ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0 auto;

  width: 80%;
}

.countdown ul li {
  margin-left: 1rem;
  width: 100%;
  height: 100%;

  background-color: rgba(255,255,255,0.1);
}

.countdown li p {
  margin: 0 0 .5rem;

  font-family: $font-secondary;
  font-size: 3.5rem;
  color: $color-text-secondary;

  @media $small {
    font-size: 7rem;
  }
}

.countdown li span {
  font-weight: 700;
  color: $color-text-secondary;
}

.banner a.cta-more-info {
  display: block;

  margin: 0 auto $spacing-default;
  padding: 2rem 3.2rem;
  width: 19.2rem;

  font-weight: 200;
  color: $color-text-secondary;
  letter-spacing: .1em;

  background-color: $color-text-primary;

  transition: all .3s ease;

  &:hover {
    background-color: $color-text-secondary;
    color: $color-text-primary;
  }

  &:hover i {
    color: $color-text-primary;
  }
}
